<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-messages.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="services.js"></script>
  <title>Extra directives</title>
</head>
<body ng-app="taskmanager">
  <div class="container">
    <button class="btn btn-lg btn-info" ng-click="tab1=true; tab2=false;">
      New task
    </button>
    <button class="btn btn-lg btn-success" ng-click="tab2=true; tab1=false;">
      Tasks created
    </button>
    <div ng-show="tab1">
      <ng-include src="'createtask.html'"></ng-include>
    </div>
    <div ng-show="tab2">
      <ng-include src="'tasklist.html'"></ng-include>
    </div>
  </div>
</body>
</html>